.button {
  border: none;
  text-decoration: none;
  font-weight: inherit;
  background: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

.styled {
  font-weight: bold;
  background: var(--t-color-darkgreen);
  color: white;
  margin: 0 0.1em;
  padding: 0.5em;
}

.big {
  font-size: 1.2em;
}
