.button {
  padding: 0.5em;
  min-width: 8em;
  font-weight: bold;
  border: none;
  border-radius: var(--t-radius);
  background: #ccc;
  margin: 0 0.1em;
  text-decoration: none;
  color: inherit;
}

.big {
  font-size: 1.2em;
}
