.input {
  background: none;
  border: none;
  display: inline;
  min-width: 1em;
}

.button {
  background: none;
  border: none;
  min-height: 1em;
  min-width: 3em;
  position: relative;
}

.edit {
  position: absolute;
  font-size: 0.5em;
  left: -0.5em;
  top: 0.5em;
}
