.background {
  background: var(--t-color-beige);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  align-items: center;
  max-width: 200vmin;
}

.channelContainer {
  text-align: center;
}

.channelLabel {
  margin-right: 1em;
}

.circleContainer {
  height: calc(200vmin * 0.44);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  padding: 0;
  flex: 1;
}

.accountContainer {
  width: 15%;
  padding-bottom: 15%;
  position: relative;
  left: 15%;
  bottom: 0;
  transform: translateX(-50%);
}

.person {
  position: absolute;
  transform: translateX(-50%);
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
