.urlbar {
  max-width: var(--t-content-size);
  margin: 0 auto;
  display: flex;
  flex: 1;
}

.urlbarform {
  flex: 1;
  display: flex;
}

.urlbarinput {
  flex: 1;
  display: block;
  border: none;
  background-color: var(--t-color-grey);
  padding: 0.5em;
}

.backbutton {
  background: none;
  display: block;
  border: none;
}
