.urlbar {
  max-width: var(--t-content-size);
  margin: 0.5em auto;
  margin-bottom: 0.5em;
  display: flex;
}

.urlbarform {
  flex: 1;
  display: flex;
}

.urlbarinput {
  flex: 1;
  display: block;
}

.backbutton {
  background: none;
  display: block;
  border: none;
}
