/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

:root {
  --t-color-green: #5dba86;
  --t-color-red: #ff443a;
  --t-color-yellow: #f4d30b;
  --t-color-greygreen: #9ec77b;
  --t-color-lightgreen: #a9cc41;
  --t-radius: 8px;
  --t-content-size: 666px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}
